<%- include("../partials/header") %>

<section class="section is-title-bar is-small">
    
  <div class = "level">
    <div class="level-left">
      <div class="level-item ">
        <h1 class="title is-2">Share Project</h1>
      </div>
    </div>
  </div> 

</section>

<section class =  "section is-main-section is-small">
  <form action="/projects/<%= project._id %>/shareProject?_method=PUT" method="POST">
    <div class="field">
      <label class="label">Username</label>
        <input class="input" type="text" placeholder="Username input" name="member">
    </div>

    <button class="button is-link">Share</button>
  </form>
</section>


  <section class =  "section is-main-section is-small">
  <div class="card has-table">
    <header class = "card-header">
        <p class="card-header-title">
            Added Members
        </p>
    </header>
  <div>

    <div class = "card-content">
      

      <table class = "table is-fullwidth is-striped is-narrow">
        <thead>
          <tr>
            <th>Usernames</th>
          </tr>
        </thead>
        <tbody>
          <% members.forEach(member =>{ %>
            <tr>
              <td><%=member.username%></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
</section>  


