<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item"">
            <img src="sprintulogo.png" width=132" height="28">
          </a>

        </div>
      
        <div id="navbarmain" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Projects
            </a>
      
          
            <a class="navbar-item">
                Backlog
            </a>
            
            <a class="navbar-item">
               Board
            </a>
              
        </div>  

        <!-- Navbar items can be changed its just a template -->
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-link">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  <strong>Log in</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
</body>
</html>
    


