<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SprintU</title>
    <link rel="stylesheet" href="/css/bulma.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/board.css">
    <script src="https://kit.fontawesome.com/9908c9251d.js" crossorigin="anonymous"></script>
    <script src="/js/ticket.js"></script>

</head>

<body>

    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="/sprintulogo.png" width="132" height="28">
          </a>

        </div>

        <div id="navbarmain" class="navbar-menu">
          <div class="navbar-start">
            <a href='/' class="navbar-item">
              Home
            </a>
            <a href='/projects' class="navbar-item">
              Projects
            </a>
            <a href='/backlog' class="navbar-item">
                Backlog
            </a>

            <a href='/board' class="navbar-item">
               Board
            </a>

        </div>

        <!-- Navbar items can be changed its just a template -->

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <%if (!currentUser){%>
                    <a class="button is-link" href="/register">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" a href="/login">
                      <strong>Log in</strong>
                    </a>
              <%} else{%>
                <a class="button is-link">
                  <strong>Signed In As <%= currentUser.username %></strong>
                </a>
                <a class="button is-light">
                  <strong>Log out</strong>
                </a>
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </nav>
    
      <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
      </div>


   