<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/9908c9251d.js" crossorigin="anonymous"></script>
  </head>
<body>

    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="sprintulogo.png" width="132" height="28">
          </a>

        </div>

        <div id="navbarmain" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
            <a class="navbar-item">
              Projects
            </a>
            <a class="navbar-item">
                Backlog
            </a>

            <a class="navbar-item">
               Board
            </a>

        </div>

        <!-- Navbar items can be changed its just a template -->

          
        </div>
      </nav>


      <div>
        <section class="section is-title-bar is-small">
          <div class = "level">
            <div class="level-left">
              <div class="level-item ">
                <h1 class="subtitle is-5">Project / <strong>Backlog</strong></h1>
              </div>
            </div>
          </div>

        </section>

        <section class =  "section is-main-section is-small">
          <div class = "notification is-link">
            <div class = "level">
              <div class = "level-left">
                  <div class = "level-item">
                    <b>Backlog</b>
                  </div>
              </div>
            </div>
          </div>

          <div class="card has-table">
            <header class = "card-header">
              <p class="card-header-title">
                Tickets
              </p>
            </header>

            <div class = "card-content">
        

              <table class = "table is-fullwidth is-striped is-narrow">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Points</th>
                    <th>Date Created</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- <td><label class="checkbox"><input type="checkbox"></label></td> -->
                    <th>1</th>
                    <td>Make Function</td>
                    <td>20</td>
                    <td>Today</td>
                    <td>
                      <a class="button is-link is-small"><span class="icon is-small"><i class="fa fa-edit"></i></span><span>Edit</span></a>
                      <a class="button is-danger is-small"><span class="icon is-small"><i class="far fa-trash-alt"></i></span><span>Delete</span></a> 
                      <a class="button is-danger is-small"><span class="icon is-small"><i class="fas fa-plus"></i></span><span>Add to Kanban</span></a>                
                    </td>

                  </tr>

                  <tr>
                    
                    <th>1</th>
                    <td>Make Function</td>
                    <td>20</td>
                    <td>Today</td>
                    <td>
                      <a class="button is-link is-small"><span class="icon is-small"><i class="fa fa-edit"></i></span><span>Edit</span></a>
                      <a class="button is-danger is-small"><span class="icon is-small"><i class="far fa-trash-alt"></i></span><span>Delete</span></a> 
                      <a class="button is-danger is-small"><span class="icon is-small"><i class="fas fa-plus"></i></span><span>Add to Kanban</span></a>
                    </td>

                  </tr>
                  <tr>
            
                    <th>1</th>
                    <td>Make Function</td>
                    <td>20</td>
                    <td>Today</td>
                    <td>
                      <a class="button is-link is-small"><span class="icon is-small"><i class="fa fa-edit"></i></span><span>Edit</span></a>
                      <a class="button is-danger is-small"><span class="icon is-small"><i class="far fa-trash-alt"></i></span><span>Delete</span></a> 
                      <a class="button is-danger is-small"><span class="icon is-small"><i class="fas fa-plus"></i></span><span>Add to Kanban</span></a>             
                    </td>

                  </tr>
                  <tr>
  
                    <th>1</th>
                    <td>Make Function</td>
                    <td>20</td>
                    <td>Today</td>
                    <td>
                      <a class="button is-link is-small"><span class="icon is-small"><i class="fa fa-edit"></i></span><span>Edit</span></a>
                      <a class="button is-danger is-small"><span class="icon is-small"><i class="far fa-trash-alt"></i></span><span>Delete</span></a> 
                      <a class="button is-info is-small"><span class="icon is-small"><i class="fas fa-plus"></i></span><span>Add to Kanban</span></a>            
                    </td>

                  </tr>
                  
                </tbody>
                

                
              </table>
              <div>
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                  <a class="pagination-previous">Previous</a>
                  <a class="pagination-next">Next page</a>
                  <ul class="pagination-list">
                    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                  </ul>
                </nav>
              </div>

              

          </div>

        </div>
        <div><button class ="button is-link">Add Ticket</button></div>
      </div>
        
      </section>
</body>
</html>