<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="stylesheets/board.css">
</head>
<body>
    
    <!-- To Do, In Progress, Reivew, Testing, Done -->

    <!-- The kanban-board itself -->
    <div class="columns kanban-board">

        <!-- Individual lanes -->

        <!-- To Do -->
        <div class="column card lane">
            <header class="card-header">
                <p class="card-header-title">
                    To Do
                </p>
            </header>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p class="ticket-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean m</p>

                    <div class="columns ticket-footer">
                        <div class="column">
                            <div class="tags has-addons">
                                <span class="tag is-rounded is-success category">Category</span>
                                <span class="tag is-rounded story-points">5</span>
                            </div>
                        </div>
                        <div class="column">
                            <span class="tag is-rounded is-info is-light ticket-user">A</span>
                        </div>
                    </div>
                        
                    
                </div>
            </div>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p>This is a ticket with only a category</p>
                    <span class="tag is-rounded is-success category">Category</span>
                </div>
            </div>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p>This is a ticket with only points</p>
                    <span class="tag is-rounded category">5</span>
                </div>
            </div>

        </div>

        <!-- In Progress -->
        <!-- To Do -->
        <div class="column card lane">
            <header class="card-header">
                <p class="card-header-title">
                    In Progress
                </p>
            </header>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p class="ticket-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean m</p>

                    <div class="columns ticket-footer">
                        <div class="column">
                            <div class="tags has-addons">
                                <span class="tag is-rounded is-success category">Category</span>
                                <span class="tag is-rounded story-points">5</span>
                            </div>
                        </div>
                        <div class="column">
                            <span class="tag is-rounded is-info is-light ticket-user">A</span>
                        </div>
                    </div>
                        
                    
                </div>
            </div>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p>This is a ticket with only a category</p>
                    <span class="tag is-rounded is-success category">Category</span>
                </div>
            </div>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p>This is a ticket with only points</p>
                    <span class="tag is-rounded category">5</span>
                </div>
            </div>

        </div>

        <!-- Review -->
        <!-- To Do -->
        <div class="column card lane">
            <header class="card-header">
                <p class="card-header-title">
                    Review
                </p>
            </header>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p class="ticket-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean m</p>

                    <div class="columns ticket-footer">
                        <div class="column">
                            <div class="tags has-addons">
                                <span class="tag is-rounded is-success category">Category</span>
                                <span class="tag is-rounded story-points">5</span>
                            </div>
                        </div>
                        <div class="column">
                            <span class="tag is-rounded is-info is-light ticket-user">A</span>
                        </div>
                    </div>
                        
                    
                </div>
            </div>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p>This is a ticket with only a category</p>
                    <span class="tag is-rounded is-success category">Category</span>
                </div>
            </div>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p>This is a ticket with only points</p>
                    <span class="tag is-rounded category">5</span>
                </div>
            </div>

        </div>

        <!-- Testing -->
        <!-- To Do -->
        <div class="column card lane">
            <header class="card-header">
                <p class="card-header-title">
                    Testing
                </p>
            </header>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p class="ticket-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean m</p>

                    <div class="columns ticket-footer">
                        <div class="column">
                            <div class="tags has-addons">
                                <span class="tag is-rounded is-success category">Category</span>
                                <span class="tag is-rounded story-points">5</span>
                            </div>
                        </div>
                        <div class="column">
                            <span class="tag is-rounded is-info is-light ticket-user">A</span>
                        </div>
                    </div>
                        
                    
                </div>
            </div>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p>This is a ticket with only a category</p>
                    <span class="tag is-rounded is-success category">Category</span>
                </div>
            </div>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p>This is a ticket with only points</p>
                    <span class="tag is-rounded category">5</span>
                </div>
            </div>

        </div>

        <!-- Done -->
        <!-- To Do -->
        <div class="column card lane">
            <header class="card-header">
                <p class="card-header-title">
                    Done
                </p>
            </header>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p class="ticket-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean m</p>

                    <div class="columns ticket-footer">
                        <div class="column">
                            <div class="tags has-addons">
                                <span class="tag is-rounded is-success category">Category</span>
                                <span class="tag is-rounded story-points">5</span>
                            </div>
                        </div>
                        <div class="column">
                            <span class="tag is-rounded is-info is-light ticket-user">A</span>
                        </div>
                    </div>
                        
                    
                </div>
            </div>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p>This is a ticket with only a category</p>
                    <span class="tag is-rounded is-success category">Category</span>
                </div>
            </div>

            <!-- Individual tickets -->
            <div class="card-content card ticket">
                <div class="content ticket-title">
                    <p>This is a ticket with only points</p>
                    <span class="tag is-rounded category">5</span>
                </div>
            </div>

        </div>



    </div>


</body>
</html>