<%- include("./partials/header") %>

<section class="hero is-dark is-fullheight" style="background-image: url(background.jpg); background-size: cover; background-blend-mode: soft-light;">

    <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-size-1">
            Welcome to SprintU
          </h1>
          <h2 class="subtitle">
            Providing an easy, organized and efficient project building experience.
          </h2>
        </div>
      </div>
</section>


<section class="section">
    <div class="container">
      <h1 class="title">What is SprintU?</h1>
      <h2 class="subtitle">
        SprintU is a software development tool that makes building projects easier, more organized, and more efficient. Using a user friendly interface, SprintU assists users during their project sprints and allows for a productive working enviroment. SprintU provides a sleek and easily customizable kanban board with a backlog. With the seamless login system, adding group members to a project has never been easier. Furthermore, SprintU provides an assortment of editing tools, allowing for greater project productivity, efficiency, and ease of completion. Click above to register today!
      </h2>
    </div>
  </section>




</body>

</html>


