<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="stylesheets/project.css">
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th><abbr title="Title">Pos</abbr></th>
            <th>Description</th>
            <th><abbr title="Amount of users">W</abbr></th>            
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><abbr title="Title">Pos</abbr></th>
            <th>Description</th>
            <th><abbr title="Amount of users">W</abbr></th>
          </tr>
    

</body>
</html>