.story-points {
    font-weight: bold;
}

.category {
    font-weight: bold;
}

.ticket {
    margin-bottom: 5px;
    max-height: 200px;
    background-color: #fff;
}

.ticket:hover {
    background-color: rgb(245, 245, 245);
}

.ticket:active {
    background-color: rgb(230, 230, 230);
}

.lane-header {
}

.lane-header p {
}

.lane {
}

.ticket-title {
}

.ticket-user {
    float: right;
}

.kanban-board {
    margin: 30px;
    min-height: 90vh;
}
