.story-points {
    font-weight: bold;
}

.category {
    font-weight: bold;
}

.ticket {
    margin-bottom: 5px;
    max-height: 200px;
}

.ticket-title {
}

.ticket-user {
    float: right;
}

.kanban-board {
    margin: 30px;
    min-height: 90vh;
}
